<%- include("partials/header") %>
<h1><%= campground.name%></h1>
<img src="<%= campground.image %>" alt="Sorry the Image can't be displayed">
<p><%= campground.description %></p>
<%- include("partials/footer") %>